<html lang="en"><head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/afterstyle.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Diabetes Checker Online
           </div>
        <div class="title">
            Results:
           </div>
        <div class="result">
        {%if data == 0%}
        <h1>You don't have diabetes!</h1>
        </div>
        <div class="result">
        {%else%}
        <h1>You have diabetes</h1>
        </div>       
        {%endif%}
        <a href='/'><i class="fa fa-home" style="font-size:36px"></i></a>
    </div>

</body>

</html>